.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bs-primary);
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.bannerText {
  text-align: center;
  color: white;
  background: linear-gradient(to right, #e383e5, #ff862f);
  width: fit-content;
  margin: 0 auto 3rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blogCard {
  border: 1px solid #9a9a9a;
  background-color: white;
  max-width: 600px;
  margin: 1.25rem auto 0;
  border-radius: .25rem;
  padding: .75rem 1rem;
  box-shadow: 0 0 6px 0 #828080;
}

.createTime {
  font-size: 14px;
  margin-bottom: .5rem;
}

.blogTitle {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: .5rem;
  text-decoration: none;
  color: #000000;
  transition: .25s ease-in;
}

.blogTitle:hover {
  color: #f37f2ee0;
}

.content {
  padding-left: 1rem;
}

.tagContainer {
  display: flex;
}

.tag {
  padding: .25rem;
}

.hashtag {
  color: var(--tagColor);
}

.toolbarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comment {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.comment > span {
  margin-left: .5rem;
}

.allLoadedHint {
  font-size: 1.25rem;
  color: white;
  margin: 1.25rem 0;
  text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}